@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


body {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  margin: 0px;
}

.App-header {
  background-color: #414346;
  min-height: 100px;
  padding: 20px;
  color: rgb(252, 249, 249);
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-size: 28px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  border: 1px solid black;
  padding: 10px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  width: 40%;
  margin-top: 20px;
}

h2 {
font-weight: bold;
}

h1 {
  margin-top: 0;
}


input {
  padding: 12px 20px;
  margin: 8px 10px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}


button {
  padding: 5px 20px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(40, 41, 40);
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px rgb(36, 35, 35);
  margin: 5px;
}

button:hover {background-color: #616661}

button:active {
  background-color: #677067;
  box-shadow: 0 3px rgb(51, 50, 50);
  transform: translateY(4px);
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: #414346;
  color: white;
  height: 25px;
}


table {
  width: 90%;
  margin: 20px;
}
tr:nth-child(even) {background-color: #f2f2f2;}


.deleteButton {
  padding: 5px 20px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(40, 41, 40);
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px rgb(36, 35, 35);
  margin: 5px;
}



